parameters:
    level: 3
    paths:
        - src
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '#Unsafe usage of new static\(\).#'
        - '#Psr.*Exception is not subtype of Throwable#'
        - '#Instantiated class Symfony\\Component\\Cache\\Simple\\FilesystemCache not found.#'
        - '#Method (.*?)::createDefaultCache\(\) should return Psr\\SimpleCache\\CacheInterface but returns Symfony\\Component\\Cache\\Simple\\FilesystemCache.#'
        - '#Method EasyIM\\Kernel\\Support\\Collection::__set_state\(\) should return object but returns array#'
        -
        			message: "#Undefined variable:.*?#"
        			count: 3
        			path: src/TencentIM/Auth/AccessToken.php
